<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="ITF-8">
	<title>I HAVE BEEN TITLED</title>
	<link rel="stylesheet" type="text/css" href="/first.css">
	<link href='http://fonts.googleapis.com/css?family=Poiret+One|Audiowide' rel='stylesheet' type='text/css'>
</head>

<body>
    <header>
       <a href="/"id="logo">
          <h1>Rolodex Replicator 3000</h1>
      </a> 
      
      <nav>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/contacts/new">Add New</a></li>
          <li><a href="/contacts">View All</a></li>
      </nav>
      </header>
	<%= yield %>
	        <footer id="footer">
        <h3>&copy; 2014 Owen Bradley</h3>
        </footer>
</body>
</html>