<p>Create New Contact</p>

<form action="/contacts" method="post">
	<table>
		<tr>
			<td class="inputKey">First Name:</td>
			<td><input type="text" name="first_name"></td>
		</tr>
		<tr>
			<td class="inputKey">Last Name:</td>
			<td><input type="text" name="last_name"></td>
		</tr>
		<tr>
			<td class="inputKey">Email:</td>
			<td><input type="text" name="email"></td>
		</tr>
		<tr>
			<td class="inputKey">Note:</td>
			<td><input type="text" name="note"></td>
		</tr>
		<td colspan="2">
			<input type="submit" name="Submit">
		</td>
	</table>
				
</form>
